<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.afinal">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContactUs"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".MainActivity"
            android:label="@string/home"
            />

        <meta-data
            android:name="com.here.sdk.access_key_id"
            android:value="9gt-U3N-1ENN8MlffsNSzA" />
        <meta-data
            android:name="com.here.sdk.access_key_secret"
            android:value="qsmeHVlrDgevV6_jovKMNm5Nv3Vs79NMy63DHB3xL32_grRUT8BJPtpf3X3BAheMCPF6ndhUAZbWFYJJ8bRCgA" />
        <activity android:name=".QRScanner" />
        <activity android:name=".feedbackStore" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SignUpActicity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Splash_Screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>